body {
  font-family: "PT Sans Narrow";
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: black;
}

h1, h2 {
  font-size: 30px;
  line-height: 1em;
}

h3 {
  font-size: 24px;
  line-height: 1em;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {

}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0px 10px;
}

.main-navigation {
  float: left;
  width: 780px;
}

.main-navigation li {
  display: inline;
}

.user-block {
  float: right;
  width: 140px;
}

.main {
  padding-top: 60px;
  padding-bottom: 65px;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
}

.features-item:last-child {
  margin-right: 0px;
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.title {
  margin-bottom: 30px;
}

.breadcrumbs {
  margin-bottom: 60px;
}

.breadcrumbs li {
  display: inline;
}

.care-filter {
  float: left;
  width: 220px;
}

.catalog {
  float: right;
  width: 700px;
  font-size: 0px;
}

.care-item {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 14px;
}

.care-item:nth-child(3n) {
  margin-right: 0px;
}

.care-items-paginator {
  margin-top: 45px;
  font-size: 14px;
}

.care-items-paginator li {
  display: inline;
}

.care-filter legend {
  margin-bottom: 35px;
}

.care-filter-manufacturer {
  margin-bottom: 55px;
}

.care-filter-group {
  margin-bottom: 50px;
}

.item-gallery-content {
  float: left;
  width: 460px;
  font-size: 0px;
}

.item {
  float: right;
  width: 390px;
  padding-top: 25px;
}

.item-availability {
  float: left;
  width: 150px;
}

.item-article {
  float: right;
  width: 140px;
}

.item-description {
  margin-top: 40px;
  margin-bottom: 40px;
}

.item-purchase {
  margin-bottom: 68px;
}

.item-composition-title {
  margin-bottom: 40px;
}

.item-gallery-content {
  line-height: 0px;
}

.item-gallery-content-big {
  margin-bottom: 20px;
}

.item-gallery-content-small {
  margin-right: 20px;
}

.item-gallery-content-small:last-child {
  margin-right: 0px;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 40px;
}

.main-footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.main-footer-social {
  float: left;
  width: 180px;
}

.main-footer-copyright {
  float: right;
  width: 180px;
}
